# Cấu hình của trình soạn thảo (VS Code)
.vscode/
*.code-workspace

# Các file tạm và file rác của hệ điều hành
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Thư mục thư viện (nếu sau này bạn dùng npm)
node_modules/
dist/
build/

# Các file nén (như Client.zip đang có trong dự án của bạn)
*.zip
*.tar.gz
*.rar
*.7z

# Các file log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*.vscode